:root{
    --background-color: #FFFFFF;
    --text-color: #0F0E13;
    --accent-color: #334FE2 ;
    --secondaire-color: E4E4E4#;
    --tertiare-color: #383838;
}

*{
    box-sizing: border-box;
        margin: 0;
        padding: 0;
}